.tooltip:before{
	content: " ";
	border: 6px solid black;
	display: block;
	position: absolute;
	
	width: 3px;
	height: 3px;
}
.tooltip{
	font-size: 13px;
	position: absolute;
	display: none;
	color: black;
	background: white;
	border: 1px solid black;
	padding: 10px;
}

.bottom:before{
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	top: -15px;
}

.bottom{
	left: 20px;
	top: 100%;
}

.top:before{
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	bottom: -15px;
}

.top{
	left: 20px;
	bottom: 100%;
}

.right:before{
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	
	left: -16px;
}

.right{
	left: 105%;
	top: 0;
}